

.banner_section {
    height: 240px;
    
    background-color: #C6D2E7;
    background-color: goldenrod;
}

body {
    background-color: rgba(242, 200, 183, 1);
}
#overview {
  width: 300px;
  height: 150px;
  position: relative;
  /* margin-top: 5rem;
  left: 12rem; */
}