.jumbotron {
    height: 600px;
    margin-bottom: 0px;
    background-image: url(../images/sand-dunes.jpg);
    /* background-position: 0% 25%; */
    background-size: cover;
    background-repeat: no-repeat;
 
}

 /* .jumbotron a.btn { 
    color: rgba(255, 255, 255, .7);
    background-color: #c6976410;
    border: 2px solid black;
    margin-top: 20rem;
    transition: all 0.6s;
}  */

/* .jumbotron a.btn:hover {
    background-color: rgba(223, 196, 143, 0.085);
    color: rgba(255, 255, 255, .7);
    border: 2px solid; */

 .sect1 a.btn content {
    transition: all 0.4s;
}
.sect1 a.btn:hover {
    border: 2px solid;
    
}
.banner_section {
    height: 240px;
    
    background-color: #C6D2E7;
    background-color: goldenrod;
}
.elite {
    height: 18rem;
    overflow: scroll;
}
body {
    background-color: rgba(242, 200, 183, 1);
}
img {
width: 600px;
height: 600px;
object-fit: contain;
padding-top: 3rem;
}

.fixit {
    background-color: rgba(242, 200, 183, 1);
}